  
{% extends "base.twig" %}
{% block content %}
    {# {{dump(post)}} #}
	<div class="content-wrapper">
		<article class="{{post.class}}" id="post-{{post.ID}}">
            <header class="entry-header">
				<h1 class="entry-title">{{post.title}}</h1>
            </header>
            <div class="entry-content">
                {{post.content}}
                {{ fn('wp_link_pages', { 'before': '<div class="page-links">' . fn('esc_html__', 'Pages: ', 'gannet'), 'after': '</div>' }) }}
            </div>
            {% if fn('get_edit_post_link') %}
                {% include 'partials/edit-link.twig' %}
            {% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
